<!-- wp:template-part {"slug":"header","theme":"new-theme","tagName":"div"} /-->
<!-- wp:new-theme/page-main -->
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<!-- wp:group {"className":"row","layout":{"type":"default"}} -->
<!-- wp:group {"className":"layout__row-item-padding","layout":{"type":"default"}} -->
<!-- wp:query-title {"type":"archive","level":1} /-->
<!-- wp:term-description /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:query {"queryId":0,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<!-- wp:post-template {"className":"news-slider","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"news-slider__item-wrapper","layout":{"type":"default"}} -->
<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9"} /-->
<!-- wp:post-title {"isLink":true,"level":3} /-->
<!-- wp:post-date {"format":"d/m/Y"} /-->
<!-- wp:post-excerpt {"moreText":"Skaityti daugiau","excerptLength":20} /-->
<!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->
<!-- wp:query-pagination-numbers /-->
<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->
<!-- /wp:group -->
<!-- /wp:query -->
<!-- /wp:group -->
<!-- /wp:new-theme/page-main -->
<!-- wp:template-part {"slug":"footer","theme":"new-theme","tagName":"div"} /-->