<!-- wp:template-part {"slug":"header","theme":"new-theme","tagName":"div"} /-->
<!-- wp:new-theme/page-main -->
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<!-- wp:group {"className":"row","layout":{"type":"default"}} -->
<!-- wp:group {"className":"layout__row-item-padding","layout":{"type":"default"}} -->
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-content /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- /wp:new-theme/page-main -->
<!-- wp:template-part {"slug":"footer","theme":"new-theme","tagName":"div"} /-->