<!-- wp:template-part {"slug":"header","theme":"new-theme","tagName":"div"} /-->
<!-- wp:new-theme/page-main -->
<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<!-- wp:group {"className":"row","layout":{"type":"default"}} -->
<!-- wp:group {"className":"layout__row-item-padding single-post","layout":{"type":"default"}} -->
<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"spacing":{"margin":{"bottom":"1.5rem"}}}} /-->
<!-- wp:post-title {"level":1} /-->
<!-- wp:group {"className":"post-meta","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<!-- wp:post-date {"format":"d/m/Y"} /-->
<!-- wp:post-terms {"term":"category"} /-->
<!-- /wp:group -->
<!-- wp:separator {"className":"is-style-wide"} /-->
<!-- wp:post-content /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- /wp:new-theme/page-main -->
<!-- wp:template-part {"slug":"footer","theme":"new-theme","tagName":"div"} /-->